*{
  margin: 0;
  padding: 0;
}
html,  body{
  height: 100%;
}
.headermain{
  background: black; 
  width: vw;
  height: 60px; 
  padding: 1px; 
  font-size: 15px; 
  color: white; 
  justify-content: center; 
  align-items: center; 
 font-family: 'Gloria Hallelujah', cursive;
  text-align: center; 
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#headertext{
 position: relative; 
  top: 20px; 
 opacity: 1;
 top: -3px;
  background: -webkit-linear-gradient(red, yellow);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    // 424242
}
#redblob{
 background: red; 
 border-radius: 50%;
 width: 22px; 
 height: 22px;
 position: relative; 
 top: -40px; 
 left: 4%; 
 border: 1px solid white; 
}
#greenblob{
 background: #3ccf4d; 
 border-radius: 50%;
 width: 22px; 
 height: 22px;
 position: relative; 
 top: -63px; 
 left: 90%; 
 border: 1px solid white; 
}
#popup{
  display: none; 
 background: black; 
 width: 180px;
 height: 100%;
 z-index: 99;
 position: fixed; 
 right: 0;
 top: 0;
 overflow: auto; 
 box-shadow: 0px 50px 110px black; 
 animation: anime 0.8s;
 
}
@keyframes anime{
  from{
    right: -180px;
    opacity: 0;
  }
  to{
    right: 0px;
    opacity: 1;
  }
}
#cancelB{
 color: white; 
 font-size: 22px; 
 position: relative; 
 left: 10px; 
 top: 5px; 
// background: red; 
 width: 20px; 
}
  #contactmail{
   background: -webkit-linear-gradient(white, white);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 position: relative; 
 text-align: center; 
 top: 50px; 
 width: 80px; 
 font-family: 'Bebas Neue', cursive;
 font-size: 15px; 
 left: 100px;
  }
#topgames{
 text-align: center; 
 font-family: 'Bebas Neue', cursive;
 background: -webkit-linear-gradient(white, white);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 position: relative; 
 top: 15px; 
 font-size: 25px; 
}
.about{
  background: black; 
  width: 100%;
  height: 130px; 
  position: relative; 
  top: 100px; 
  text-align: center; 
  font-family: 'Bebas Neue', cursive;
}
#about_insta{
 color: white; 
 font-size: 18px; 
 position: relative; 
 top: 55px; 
 background: -webkit-linear-gradient(white, #424242);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#copyright{
 color: white; 
 font-size: 11px; 
 position: relative; 
 top: 40px; 
 opacity: 0.8;
  -webkit-user-select: none; 
   -ms-user-select: none; 
   user-select: none; 
}
.changeP{
  width: device-width;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  position: relative; 
  column-count: 3;
  column-gap: 17px; 
  position: relative; 
  top: 90px; 
  font-family: 'Bebas Neue', cursive;
  color: white; 
  font-size: 25px; 
  background: -webkit-linear-gradient(white, grey);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#leftP{
 background: white; 
 width: 50px; 
 height: 50px; 
 border-radius: 5px; 
 text-align: center; 
}
#p1{
 background: white; 
 width: 50px; 
 height: 50px; 
 border-radius: 5px; 
 text-align: center; 
}
#rightP{
 background: white; 
 width: 50px; 
 height: 50px; 
 border-radius: 5px; 
 text-align: center; 
}

.game1div{
  width: device-width;
 //  height: 600px; 
 // background: red; 
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  position: relative; 
  top: 40px; 
  column-count: 3;
  column-gap: 17px; 
}
.game1{
  background: #25272e;
  width: 160px; 
  height: 170px; 
  border-radius: 15px; 
  text-align: center; 
box-shadow: 3px 4px 20px black;
}
#game1img{
 width: 160px; 
 border-top-right-radius: 15px; 
 border-top-left-radius: 15px; 
}
#game1txt1{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 20px; 
  opacity: 0.99;
  }
  #game1txt2{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 15px; 
  opacity: 0.99;
  }
#game1txt:hover{
 color: green; 
}
.game1:hover{
  border: 1px solid white; 
} 

.game2{
  background: #25272e;
  width: 160px; 
  height: 170px; 
  border-radius: 15px; 
  text-align: center; 
box-shadow: 3px 4px 20px black;
}
#game2img{
 width: 160px; 
 border-top-right-radius: 15px; 
 border-top-left-radius: 15px; 
}
#game2txt1{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 20px; 
  opacity: 0.99;
  }
  #game2txt2{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 15px; 
  opacity: 0.99;
  }
    .game2:hover{
  border: 1px solid white; 
} 
 .game2div{
  width: device-width;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  position: relative; 
  top: 40px; 
  column-count: 3;
  column-gap: 17px; 
}
.game3{
  background: #25272e;
  width: 160px; 
  height: 170px; 
  border-radius: 15px; 
  text-align: center; 
box-shadow: 3px 4px 20px black;
}
#game3img{
 width: 160px; 
 border-top-right-radius: 15px; 
 border-top-left-radius: 15px; 
}
#game3txt1{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 20px; 
  opacity: 0.99;
  }
  #game3txt2{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 15px; 
  opacity: 0.99;
  }
  .game4{
  background: #25272e;
  width: 160px; 
  height: 170px; 
  border-radius: 15px; 
  text-align: center; 
  box-shadow: 3px 4px 20px black;
}
#game4img{
 width: 160px; 
 border-top-right-radius: 15px; 
 border-top-left-radius: 15px; 
}
#game4txt1{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 20px; 
  opacity: 0.99;
  }
  #game4txt2{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 15px; 
  opacity: 0.99;
  }
   .game3div{
  width: device-width;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  position: relative; 
  top: 40px; 
  column-count: 3;
  column-gap: 17px; 
}
.game5{
  background: #25272e;
  width: 160px; 
  height: 170px; 
  border-radius: 15px; 
  text-align: center; 
  box-shadow: 3px 4px 20px black;
}
#game5img{
 width: 160px; 
 border-top-right-radius: 15px; 
 border-top-left-radius: 15px; 
}
#game5txt1{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 20px; 
  opacity: 0.99;
  }
  #game5txt2{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 15px; 
  opacity: 0.99;
  }
  .game6{
  background: #25272e;
  width: 160px; 
  height: 170px; 
  border-radius: 15px; 
  text-align: center; 
  box-shadow: 3px 4px 20px black;
}
#game6img{
 width: 160px; 
 border-top-right-radius: 15px; 
 border-top-left-radius: 15px; 
}
#game6txt1{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 20px; 
  opacity: 0.99;
  }
  #game6txt2{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 15px; 
  opacity: 0.99;
  }
     .game4div{
  width: device-width;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  position: relative; 
  top: 40px; 
  column-count: 3;
  column-gap: 17px; 
}
.game7{
  background: #25272e;
  width: 160px; 
  height: 170px; 
  border-radius: 15px; 
  text-align: center; 
  box-shadow: 3px 4px 20px black;
}
#game7img{
 width: 160px; 
 border-top-right-radius: 15px; 
 border-top-left-radius: 15px; 
}
#game7txt1{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 20px; 
  opacity: 0.99;
  }
  #game7txt2{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 15px; 
  opacity: 0.99;
  }
  .game8{
  background: #25272e;
  width: 160px; 
  height: 170px; 
  border-radius: 15px; 
  text-align: center; 
  box-shadow: 3px 4px 20px black;
}
#game8img{
 width: 160px; 
 border-top-right-radius: 15px; 
 border-top-left-radius: 15px; 
}
#game8txt1{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 20px; 
  opacity: 0.99;
  }
  #game8txt2{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 15px; 
  opacity: 0.99;
  }
      .game5div{
  width: device-width;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  position: relative; 
  top: 40px; 
  column-count: 3;
  column-gap: 17px; 
}
.game9{
  background: #25272e;
  width: 160px; 
  height: 170px; 
  border-radius: 15px; 
  text-align: center; 
  box-shadow: 3px 4px 20px black;
}
#game9img{
 width: 160px; 
 border-top-right-radius: 15px; 
 border-top-left-radius: 15px; 
}
#game9txt1{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 20px; 
  opacity: 0.99;
  }
  #game9txt2{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 15px; 
  opacity: 0.99;
  }
  .game10{
  background: #25272e;
  width: 160px; 
  height: 170px; 
  border-radius: 15px; 
  text-align: center; 
  box-shadow: 3px 4px 20px black;
}
#game10img{
 width: 160px; 
 border-top-right-radius: 15px; 
 border-top-left-radius: 15px; 
}
#game10txt1{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 20px; 
  opacity: 0.99;
  }
  #game10txt2{
font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 15px; 
  opacity: 0.99;
  }
.game2:hover{
  border: 1px solid white; 
} 
.game3:hover{
  border: 1px solid white; 
} 
.game4:hover{
  border: 1px solid white; 
} 
.game5:hover{
  border: 1px solid white; 
} 
.game6:hover{
  border: 1px solid white; 
} 
.game7:hover{
  border: 1px solid white; 
} 
.game8:hover{
  border: 1px solid white; 
} 
.game9:hover{
  border: 1px solid white; 
} 
.game10:hover{
  border: 1px solid white; 
} 
